<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tick Tack Toe</title>
  <meta charset="UTF-8" />
  <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/cover.css" rel="stylesheet">
  
    <!-- Librerias necesarias para el funcionamiento de la página -->
    <script type="text/javascript" src="js/jquery.js"></script>
    
  <script>
    

      // Send text to the server when the Send button is clicked
      
  </script>
</head>
<body>

  <br />
  <br />
  <br />
  <br />

  <div class="center">


    </div>

    <a href="">
  

  
  <input hidden id="url" /><br />
  <input hidden id="open" type="button" value="Connect" />&nbsp;
  <input hidden id="close" type="button" value="Disconnect" /><br />
  <input id="send" type="button" value="Send" />&nbsp;<br /><br />

  
  
  <br />
  
</body>
</html>